@import "../Helper/mixin";
@import "../Helper/variable";
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  height: 100vh;
  transition: 0.5s;
}
%btn-styles {
  position: absolute;
  top: 50%;
  justify-self: center;
  align-self: center;
  height: 50px;
  // background-image: url(../../img/icon-start.png);
  font-size: 12px;
  transform: translateY(-50%);
  width: 50px;
  border-radius: 50%;
  border: 0px;
  outline: none;
  line-height: 15px;
  background: transparent;
  transition: 0.5s;
  border: 1px solid #fff;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  // @include styleButton(#222, 0px, 3px, 3px);
  &:hover {
    // @include hoverButton(#fff, #222, #fff);
    background: transparent;
    box-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px,
    2px 2px 2px rgba(206, 89, 55, 0);
  }
}

.slideContainer {
  position: relative;
  width: 100%;
  height: 100%;
  
  
 
  .slideImg {
    position: absolute;
    top: 0;
  }
  .slideOverplay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.57);
    z-index: 10;
  }
  .slideContent {
    z-index: 12;
    background-color: none;
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    .slideTitle {
        color: #ffffff;
        letter-spacing: 7px;
        font-size: 54px;
        text-transform: uppercase;
        background: transparent;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, 2px 2px 2px rgba(206,89,55,0);    }
    .slideSub {
      color: #fff;
      text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, 2px 2px 2px rgba(206,89,55,0); 
      margin-bottom: 50px; 

    }
    .slideTrailer {
        @include styleButtonMain()
    }
  }
  @include respond-to("medium") {
    .slideContent {
      top: 65%;
      .slideTitle {
          letter-spacing: 6px;
          font-size: 40px;
          }
      .slideSub {
       display: none;
      }
      .slideTrailer {
          border-radius: 35px;
          font-size: 13px;
          padding: 8px 22px;
          i{
              margin-right: 12px;
          }
      }
    }
  }
  @include respond-to("small") {
    .slideContent {
      top: 75%;
      .slideTitle {
          letter-spacing: 4px;
          font-size: 35px;
          }
      .slideTrailer {
          border-radius: 30px;
          font-size: 12px;
          padding: 7px 20px;
          i{
              margin-right: 10px;
          }
      }
    }
  }
}

.goLeft {
  left: 5%;
  @extend %btn-styles;
  &::after{
    content: url(../../img/icon-start.png);
    position: absolute;
    left: -5px;
    top: -6px;
  }
}
.goRight {
  right: 5%;
  @extend %btn-styles;
  &::after{
    content: url(../../img/icon-start.png);
    left: -5px;
    top: -6px;
    position: absolute;
  }
}
