@import "../Helper/mixin";
@import "../Helper/variable";
.listSeat {
  background-image: url("https://motionarray.imgix.net/preview-34598hB58pZQlvi_0011.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 120vh;
  @include styleText($fs-0, $fw-normal, $color-white-0);

  position: relative;

  width: 100wh;

  overflow: hidden;
  .listSeat__Sidebar {
    transition: .5s;
    position: fixed;
    width: 350px;
    height: 100vh;
    top: 0;
    right: 0px;
    background-color: $color-white-0;
    z-index: 110;
    border: 2px solid $color-yellow-1;
    .listSeat__closeSidebar{
      border: 1.5px solid $color-yellow-1;
      width: 40px;
      height: 40px;
      @include styleText($fs-3, $fw-normal, $color-yellow-1);
      justify-content: center;
      align-items: center;
      background: none;
      margin: 5px;
      transition: .5s;
      &:hover{
        border: 1.5px solid $color-yellow-3;
        @include styleText($fs-3, $fw-normal, $color-yellow-3);
      }
    }
    h2{
      text-align: center;
      background-color: $color-yellow-1;
      width: 90%;
      @include styleText($fs-7, $fw-normal, $color-white-0);
      text-transform: uppercase;
      margin: 0 auto;
      padding: 5px 0px;
      margin-bottom: 20px;
    }
    p{
      @include styleText($fs-5, $fw-bold, $color-yellow-1);
      margin: 10px auto;
      width: 90%;
      display: flex;
      justify-content: space-between;
    }
    @include styleText($fs-0, $fw-normal, $color-yellow-1);
    .listSeat__openMenu{
      text-align: center;
      background-color: $color-yellow-1;
      width: 90%;
      @include styleText($fs-3, $fw-normal, $color-white-0);
      text-transform: uppercase;
      margin: 0 auto;
      padding: 5px 0px;
      cursor: pointer;
      transition: .5s;
      margin-bottom: 20px;
      &:hover{
        background-color: $color-yellow-3;

      }
    }
    .listSeat__sidebar__hr{
      width: 90%;
      // margin: 0 ;
      height: 1px;
      background-color:  $color-yellow-1;
      margin: 3px auto;
    }
    h4{
      text-align: center;
      background-color: $color-yellow-1;
      width: 90%;
      @include styleText($fs-3, $fw-normal, $color-white-0);
      text-transform: uppercase;
      // margin: 0 auto;
      padding: 15px 0px;
      margin: 20px auto;

    }
  }
  .listSeat__Sidebar__hidden {
    transition: .5s;
    position: fixed;
    width: 250px;
    height: 100vh;
    top: 0;
    right: -250px;
    z-index: 110;
    border: 2px solid $color-yellow-1;
    background-color: $color-white-0;
  }


  .listSeat__Container {
    position: absolute;
    width: 100%;
    z-index: 5;
    padding-top: 80px;
    .listSeatAddress {
      .listSeatAddress__imgTheatre {
        height: 60px;
        width: 40px;
      }
      .listSeatAddress__imgMovie {
        height: 80px;
        width: 60px;
      }
      .listSeatAddress__content {
        margin-left: 10px;
        .listSeatAddress__name {
          margin: 5px 0;
          @include styleText($fs-5, $fw-normal, $color-white-0);
        }
        .listSeatAddress__address {
          margin: 10px 0;
          @include styleText($fs-1, $fw-normal, $color-yellow-1);
        }
      }
      .listSeat__countdown {
        width: 100%;
        text-align: center;
      }
    }
    .listSeat__Seat {
      //   margin-top: 80px;
      width: 778px;
      margin: 50px auto;
    }
    .listSeat__Sreen {
      width: 100%;
      //   margin: 0 auto;
      margin-top: 0;
      height: 3px;
      background-color: $color-white-0;
      //   text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px,
      //   2px 2px 2px rgba(206, 89, 55, 0);
      -webkit-box-shadow: 2px 21px 23px 7px rgba(240, 221, 240, 1);
      -moz-box-shadow: 2px 21px 23px 7px rgba(240, 221, 240, 1);
      box-shadow: 2px 21px 23px 7px rgba(240, 221, 240, 1);
    }
    .listSeat__Note {
      display: flex;
      justify-content: space-between;
      align-items: center;
      -webkit-box-shadow: 2px 2px 14px -1px rgba(247, 239, 247, 1);
      -moz-box-shadow: 2px 2px 14px -1px rgba(247, 239, 247, 1);
      box-shadow: 2px 2px 14px -1px rgba(247, 239, 247, 1);
      padding: 20px 50px;
      .listSeat__flex {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .listSeat__Note__SeatNoChoosed {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border: none;
        margin: 14px;
        transition: 0.5s;
        position: relative;
        .listSeat__Noted__SeatNoChoosed {
          position: absolute;
          width: 30px;

          top: 0;
          left: 0;
        }
      }
      .listSeat__Note__SeatBooked {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border: none;
        margin: 14px;
        transition: 0.5s;
        position: relative;
        .listSeat__Noted__SeatBooked {
          position: absolute;
          width: 30px;

          top: -64px;
          left: 0;
        }
      }
      .listSeat__Note__SeatChoosed {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border: none;
        margin: 14px;
        transition: 0.5s;
        position: relative;
        .listSeat__Noted__SeatChoosed {
          position: absolute;
          width: 30px;

          top: -32px;
          left: 0;
        }
      }
      .listSeat__Opensidebar {
        background-color: $color-yellow-1;
        border: none;
        height: 40px;
        padding: 0 10px;
        @include styleText($fs-0, $fw-normal, $color-white-0);
        border-radius: 5px;
        transition: 0.5s;
        &:hover {
          background-color: $color-blue-3;
          @include styleText($fs-0, $fw-normal, $color-yellow-1);
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}
.listSeat__CountDown_number {
  p {
    margin-bottom: 0;
  }
  span {
    @include styleText($fs-7, $fw-normal, $color-white-0);
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px,
      2px 2px 2px rgba(206, 89, 55, 0);
  }
}

.listSeat__SeatBooked {
  width: 30px;
  height: 30px;
  border: none;
  margin: 14px;
  // background-image: url("https://cinestar.com.vn/catalog/view/theme/default/images/single-chair.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  background: none;
  @include styleText($fs-5, $fw-normal, $color-white-0);
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &:hover {
    // transform: ();
    // transform: rotateY(360deg);
  }
  .listSeat__SeatOverplay {
    position: absolute;
    width: 30px;
    transition: 0.5s;
    // background-image: url("https://cinestar.com.vn/catalog/view/theme/default/images/single-chair.png");
    z-index: 10;
    top: -64px;
    left: 0;
  }
  span {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.listSeat__SeatChoosed {
  width: 30px;
  height: 30px;
  border: none;
  margin: 14px;
  // background-image: url("https://cinestar.com.vn/catalog/view/theme/default/images/single-chair.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  transition: 0.5s;
  background: none;
  position: relative;
  @include styleText($fs-5, $fw-normal, $color-white-0);
  overflow: hidden;
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &:hover {
    // .listSeat__SeatOverplay {
    //   top: 0;
    //   left: 0;
    // }
  }
  .listSeat__SeatOverplay {
    position: absolute;
    width: 30px;
    // background-image: url("https://cinestar.com.vn/catalog/view/theme/default/images/single-chair.png");
    z-index: 10;
    transition: 0.5s;
    top: -32px;
    left: 0;
  }
  span {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.listSeat__SeatNoChoosed {
  width: 30px;
  height: 30px;
  border: none;
  margin: 14px;
  // background-image: url("https://cinestar.com.vn/catalog/view/theme/default/images/single-chair.png");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  transition: 0.5s;
  position: relative;
  @include styleText($fs-5, $fw-normal, $color-white-0);
  background: none;
  overflow: hidden;
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &:hover {
    .listSeat__SeatOverplay {
      top: -32px;
      left: 0;
    }
  }
  .listSeat__SeatOverplay {
    position: absolute;
    width: 30px;
    transition: 0.5s;
    // background-image: url("https://cinestar.com.vn/catalog/view/theme/default/images/single-chair.png");
    z-index: 10;
    top: 0;
    left: 0;
  }
  span {
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
