@import "../Helper/mixin";
@import "../Helper/variable";
.movieDetail {
  background-image: url("https://cdn.clipart.email/e8a40c2044ac4cd548a339d4fa2080a8_28-collection-of-nighttime-sky-clipart-high-quality-free-_1600-1200.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  ::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,.5);
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,$color-yellow-1,$color-purple-2);
    border-radius: 3px;
}
  .movieDetailContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 175px 0;
    align-items: center;

    .movieDetail__Content {
      .movieDetail__Content__img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 250px;
          height: 300px;
          border: 9px solid rgb(188, 146, 177);
        }
      }
      .movieDetail__Content__text {
        width: 100%;
        margin: 0 auto;
        h4 {
          @include styleText(35px, $fw-bold-0, $color-purple-2);
        }
        p {
          @include styleText($fs-5, $fw-normal, $color-white-0);
        }
        span {
          @include styleText($fs-2, $fw-normal, $color-white-0);
        }
        button {
          @include styleButtonMain();
        }
      }
    }
  }
  .movieComment {
    // margin: 50px 0;
    @include styleText($fs-0, $fw-normal, $color-white-0);
    h2 {
      @include styleText($fs-3, $fw-normal, $color-white-0);
    }
    .movieComment__evalute {
     button {
        background: transparent;
        border: none;
        i {
          @include styleText($fs-5, $fw-bold, $color-gray-2);
        }
        &:hover{
          i{
            scale: (.8);
          }
       
        }
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      .movieComment__evalute1 {
       
          i {
            @include styleText($fs-5, $fw-bold, $color-yellow-3);
          }
      
      }
      .movieComment__evalute2 {
       
          i {
            @include styleText($fs-5, $fw-bold, $color-yellow-3);
          }
          
        
        
      }
      .movieComment__evalute3 {
        
          i {
            @include styleText($fs-5, $fw-bold, $color-yellow-3);
          }
          
       
      }
      .movieComment__evalute4 {
        
        i {
          @include styleText($fs-5, $fw-bold, $color-yellow-3);
        }
        
     
    }
    .movieComment__evalute5 {
        
      i {
        @include styleText($fs-5, $fw-bold, $color-yellow-3);
      }
      
   
  }
      
    }
    .movieComment__User {
      // margin-top:80px;
      margin: 50px auto;
      // display: flex;
      // justify-content: center;
      .movieComment__MyInput {
        width: 80%;
        background: rgba(0, 0, 0, 0.57);
        height: 140px;
        @include styleText($fs-0, $fw-bold, $color-white-0);
        outline: none;
      }
    
    }
    .movieComment__MyBtn {
      @include styleText($fs-0, $fw-normal, $color-white-0);
      background: rgba(0, 0, 0, 0.57);
      border-radius: 8px;
      padding: 10px 15px;
      border: 1px solid $color-white-0;
      transition: 0.5s;
      &:hover {
        background: $color-white-0;
        @include styleText($fs-0, $fw-normal, $color-black-0);
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .movieComment__listCmt {
      height: 300px;
      overflow: auto;
      width: 100%;
      span {
        @include styleText($fs-1, $fw-normal, $color-yellow-3);
      }
      .movieComment__listCmt__name {
        @include styleText($fs-2, $fw-bold, $color-white-0);
        margin-bottom: 0;
        margin-top: 20px;
        .movieComment__listCmt__name_letter{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: $color-red-0;
          line-height: 48px;
          text-align: center;
        }
      }
      .movieComment__listCmt__Cmt {
        background-color: $color-white-0;
        width: 85%;
        margin-left: 20px;
        @include styleText($fs-0, $fw-bold, $color-black-0);
        position: relative;
        &::after{
          content:'';
          border-right: 9px solid $color-white-0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          position: absolute;
          bottom: 6px;
          left: -9px;
        }
      }
    }
  }
  @include respond-to("large") {
    .movieDetailContainer {
      .movieDetail__Content {
        .movieDetail__Content__img {
          img {
            width: 225px;
            height: 280px;
            border: 6px solid rgb(188, 146, 177);
          }
        }
        .movieDetail__Content__text {
          margin-left: 20px;
        }
      }
    }
  }
  @include respond-to("medium") {
    .movieDetailContainer {
      margin: 70px 0;
      .movieDetail__Content {
        .movieDetail__Content__img {
          img {
            width: 225px;
            height: 280px;
            border: 6px solid rgb(188, 146, 177);
          }
        }
        .movieDetail__Content__text {
          text-align: center;
          margin-left: 0px;
          h4 {
            @include styleText(30px, $fw-bold-0, $color-purple-2);
          }
          p {
            @include styleText($fs-0, $fw-normal, $color-white-0);
          }
          span {
            @include styleText($fs-0, $fw-normal, $color-white-0);
          }
          button {
            @include styleButtonMain();
          }
        }
      }
    }
  }
  @include respond-to("medium") {
    .movieDetailContainer {
      margin: 0px 0;
      .movieDetail__Content {
        .movieDetail__Content__img {
          img {
            width: 175px;
            height: 240px;
          }
        }
        .movieDetail__Content__text {
        }
      }
    }
  }
  // .chooseFilmForm_movieDetail{
  //     width: 100%;

  // }

  .chooseFilmContainer {
    background-image: url("https://media.istockphoto.com/photos/black-brick-wall-background-texture-dark-masonry-picture-id915097804?k=6&m=915097804&s=612x612&w=0&h=EsV7PNj296aSAKcrqaiWdM0RG2w4e19YS8XUB_oJvZU=");

    padding: 30px 0;
    .chooseFilmTitleContain {
      justify-content: center;
      align-items: center;
      .chooseFilmTitle {
        transform: rotate(-15deg);
        text-align: center;
        align-items: center;

        line-height: 0.8;
        @include styleText(42px, $fw-bold-0, $color-yellow-1);
        text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px,
          2px 2px 2px rgba(206, 89, 55, 0);
      }
    }
    .chooseFilmForm {
      margin: 0 auto;
      width: 100%;
      .chooseFilmForm_1 {
        width: 100%;

        select {
          margin: 10px auto;
          width: 250px;
          height: 40px;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          border-top-right-radius: 30px;
          background-color: $color-gray-4;
          @include styleText($fs-2, $fw-normal, $color-white-0);
          cursor: pointer;
          &:hover {
            background-color: $color-purple-2;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
      .chooseFilmForm_2 {
        margin: 10px auto;

        width: 100%;
        select {
          margin: 0 auto;
          width: 250px;
          height: 40px;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          border-top-left-radius: 30px;
          background-color: $color-gray-4;
          @include styleText($fs-2, $fw-normal, $color-white-0);
          cursor: pointer;
          &:hover {
            background-color: $color-purple-2;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
      .chooseFilmForm_3 {
        margin: 10px auto;
        select {
          margin: 0 auto;
          width: 250px;
          height: 40px;
          border-top-left-radius: 30px;
          border-bottom-right-radius: 30px;
          border-top-right-radius: 30px;
          background-color: $color-gray-4;
          @include styleText($fs-2, $fw-normal, $color-white-0);
          cursor: pointer;
          &:hover {
            background-color: $color-purple-2;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
      .chooseFilmForm_movieDetail {
        .chooseFilmForm_4 {
          margin: 10px 0;
          select {
            width: 250px;
            height: 40px;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            background-color: $color-gray-4;
            @include styleText($fs-2, $fw-normal, $color-white-0);
            box-shadow: none;
            outline: none;
            cursor: pointer;
            &:hover {
              background-color: $color-purple-2;
            }
            &:focus {
              outline: none;
              box-shadow: none;
            }
          }
        }
        .chooseFilmButton {
          // border-radius: 30px;
          background-color: $color-gray-4;
          border-top-right-radius: 30px;
          border-top-left-radius: 30px;

          border-bottom-left-radius: 30px;
          width: 250px;
          border: none;
          @include styleText($fs-2, $fw-normal, $color-white-0);
          height: 40px;
          cursor: pointer;
          &:hover {
            background-color: $color-purple-2;
          }
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }

    @include respond-to("large") {
      //   .movieDetailContainer {
      //     .movieDetail__Content {
      //       .movieDetail__Content__img {
      //         img {
      //           width: 225px;
      //           height: 280px;
      //           border: 6px solid rgb(188, 146, 177);
      //         }
      //       }
      //       .movieDetail__Content__text {
      //         margin-left: 20px;
      //       }
      //     }
      //   }
      .chooseFilmTitleContain {
        .chooseFilmTitle {
          transform: rotate(-10deg);

          @include styleText(25px, $fw-bold-0, $color-yellow-2);
        }
      }
      .chooseFilmForm {
        .chooseFilmForm_1 {
          select {
            width: 180px;
            height: 35px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
            @include styleText($fs-0, $fw-normal, $color-white-0);
          }
        }
        .chooseFilmForm_2 {
          select {
            width: 180px;
            height: 35px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-top-left-radius: 25px;
            @include styleText($fs-0, $fw-normal, $color-white-0);
          }
        }
        .chooseFilmForm_3 {
          select {
            width: 180px;
            height: 35px;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 25px;
            border-top-right-radius: 25px;
            @include styleText($fs-0, $fw-normal, $color-white-0);
          }
        }
        .chooseFilmForm_movieDetail {
          .chooseFilmForm_4 {
            select {
              width: 180px;
              height: 35px;
              border-bottom-left-radius: 25px;
              border-top-left-radius: 25px;
              @include styleText($fs-0, $fw-normal, $color-white-0);
            }
          }
          .chooseFilmButton {
            border-top-right-radius: 25px;
            width: 180px;
            @include styleText($fs-0, $fw-normal, $color-white-0);
            height: 35px;
          }
        }
      }
    }
    @include respond-to("medium") {
      .movieDetailContainer {
        // display: flex;
        // flex-direction: column;
        .movieDetail__Content {
          .movieDetail__Content__img {
            img {
              width: 150px;
              height: 200px;
            }
          }
          .movieDetail__Content__text {
            text-align: center;
          }
        }
      }
    }
    @include respond-to("small") {
      padding: 25px 0;
      .chooseFilmTitleContain {
        .chooseFilmTitle {
          transform: rotate(-10deg);
          @include styleText(25px, $fw-bold-0, $color-yellow-2);
        }
      }
      .chooseFilmForm {
        .chooseFilmForm_1 {
          select {
            margin-left: 40px;
            width: 140px;
            height: 30px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            @include styleText($fs-1, $fw-normal, $color-white-0);
          }
        }
        .chooseFilmForm_2 {
          select {
            margin-left: 40px;
            width: 140px;
            height: 30px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 20px;
            @include styleText($fs-1, $fw-normal, $color-white-0);
          }
        }
        .chooseFilmForm_3 {
          select {
            margin-left: 40px;
            width: 140px;
            height: 30px;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            @include styleText($fs-1, $fw-normal, $color-white-0);
          }
        }
        .chooseFilmForm_movieDetail {
          .chooseFilmForm_4 {
            select {
              margin-left: 40px;
              width: 140px;
              height: 30px;
              border-bottom-left-radius: 20px;
              border-top-left-radius: 20px;
              @include styleText($fs-1, $fw-normal, $color-white-0);
            }
          }
          .chooseFilmButton {
            margin-left: 40px;
            border-top-right-radius: 20px;
            width: 140px;
            @include styleText($fs-1, $fw-normal, $color-white-0);
            height: 30px;
          }
        }
      }
    }
  }
}
